{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 order-md-last">
            <img src="media/images/shoolimages/Mod.jpg" alt="Школьники занимаются моделизмом" class="img-fluid rounded shadow mb-3">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">Школа моделизма, робототехники и программирования в Ульяновске</h1>
            <p class="lead">Мы помогаем детям раскрыть потенциал в технике и инженерии!</p>
        </div>
    </div>

    <hr class="my-5">

    <section class="pb-5">
        <h2 class="fw-bold">О нас</h2>
        <p>Сеть школ моделизма и робототехники Vector объединяет уже более 50 филиалов по всей России. Мы проводим обучение детей современным образовательным платформам по своим уникальным многоуровневым программам, утверждённым Министерством образования.</p>

    </section>



{% endblock %}