{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <style>
        .teacher-card {
            height: 100%;
        }

        .teacher-image {
            width: 150px !important; /* Фиксированный размер */
            height: 150px !important; /* Фиксированный размер */
            object-fit: cover; /* Обрезка изображения */
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Наши преподаватели</h1>

    {% if teachers %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for teacher in teachers %}
                <div class="col">
                    <div class="card h-100 shadow-sm border-0 teacher-card">
                        <img src="{% if teacher.avatar %}{{ teacher.avatar.url }}{% else %}{% static 'avatars/default.png' %}{% endif %}"
                             alt="{{ teacher.name }} {{ teacher.last_name }}" class="card-img-top rounded-circle w-75 mx-auto my-3 teacher-image">

                        <div class="card-body text-center">
                            <h5 class="card-title mb-3 fw-bold">{{ teacher.name }} {{ teacher.last_name }}</h5>
                            <p class="card-text"><strong>Предметы:</strong><br>{{ teacher.subjects_taught|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Пагинация -->
        <nav aria-label="Page navigation example" class="mt-5 d-flex justify-content-center">
          <ul class="pagination pagination-lg">
              {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">«</a></li>
              {% endif %}

              {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                      <li class="page-item active"><span class="page-link bg-primary text-white">{{ i }}</span></li>
                  {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">»</a></li>
              {% endif %}
          </ul>
        </nav>
    {% else %}
        <p>Нет преподавателей.</p>
    {% endif %}
</div>

{% endblock %}